<div class="bg-green-200">
  <div class="py-8 mx-auto max-w-screen-xl px-4 sm:py-12 sm:px-6 md:py-20 xl:py-24">
    <div class="lg:grid lg:grid-cols-12 lg:gap-8">
      <div class="sm:text-center md:max-w-2xl md:mx-auto lg:col-span-6 lg:text-left">
        <div class="text-sm font-semibold uppercase tracking-wide text-gray-600 sm:text-base lg:text-sm xl:text-base">
          Coming soon
        </div>
        <h2 class="mt-1 text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:leading-none sm:text-6xl lg:text-5xl xl:text-6xl">
          The tech hub for the
          <br class="hidden md:inline" />
          <span class="text-green-800">Diablo Valley</span>
        </h2>
        <p class="mt-3 text-base text-gray-600 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl">
          The Diablo Valley Tech Initiative (DVTI) studies and promotes the initiatives that enable us to cultivate and benefit from a thriving tech sector.
        </p>
        <div class="mt-5 sm:max-w-lg sm:mx-auto sm:text-center lg:text-left lg:mx-0">
          <p class="text-base font-medium text-gray-900">
            Sign up to get The Initiative newsletter!
          </p>
          <%= form_with model: @signup, class: "mt-3 sm:flex", local: true do |form| %>
            <%= form.text_field :email, class: "appearance-none block w-full px-3 py-3 border border-gray-300 text-base leading-6 rounded-md placeholder-gray-500 shadow-sm focus:outline-none focus:placeholder-gray-400 focus:shadow-outline focus:border-blue-300 transition duration-150 ease-in-out sm:flex-1", placeholder: "Enter your email"  %>
            <%= form.submit 'Sign up', class: "mt-3 w-full px-6 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-gray-800 shadow-sm hover:bg-gray-700 focus:outline-none focus:shadow-outline active:bg-gray-900 transition duration-150 ease-in-out sm:mt-0 sm:ml-3 sm:flex-shrink-0 sm:inline-flex sm:items-center sm:w-auto" %>
          <% end %>
          <p class="mt-3 text-sm leading-5 text-gray-600">
            We care about the protection of your data. Read our
            <a href="#" class="font-medium text-gray-900 underline">Privacy Policy</a>.
          </p>
        </div>
      </div>
      <div class="mt-12 relative sm:max-w-lg sm:mx-auto lg:mt-0 lg:max-w-none lg:mx-0 lg:col-span-6 lg:flex lg:items-center">
        <%= image_tag 'dv_sun.png', class: "relative mx-auto w-full h-full rounded-lg lg:max-w-md sm:min-h-sm rounded-md" %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <div class="lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div>
          <h2 class="text-3xl leading-9 font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
            Supported by the Diablo Valley
          </h2>
          <p class="mt-3 max-w-3xl text-lg leading-7 text-gray-500">
            The members of the Diablo Valley Tech Initiative include mayors, presidents of Chambers of Commerce, professors, real estate professionals, and local entrepreneurs. It is incubated at Diablo Valley College.
          </p>
          <div class="mt-8 sm:flex">
            <div class="rounded-md shadow">
              <%= link_to 'Create Account', new_user_registration_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-green-600 hover:bg-green-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
            </div>
            <div class="mt-3 sm:mt-0 sm:ml-3">
              <%= link_to 'Contact Us', contact_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-green-700 bg-green-100 hover:text-green-600 hover:bg-green-50 focus:outline-none focus:shadow-outline focus:border-green-300 transition duration-150 ease-in-out" %>
            </div>
          </div>
        </div>
        <div class="mt-8 grid grid-cols-2 gap-1 md:grid-cols-3 lg:mt-0 lg:grid-cols-2">
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'wc_chamber_logo.png', class: 'max-h-12', alt: "Walnut Creek Chamber of Commerce" %>
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'dvc_logo.png', class: 'max-h-12', alt: "Diablo Valley College" %>
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'concord_logo.png', class: 'max-h-12', alt: "City of Concord" %>
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'wc_chamber_logo.png', class: 'max-h-12', alt: "Walnut Creek Chamber of Commerce" %>
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'dvc_logo.png', class: 'max-h-12', alt: "Diablo Valley College" %>
          </div>
          <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50 hover:bg-gray-100">
            <%= image_tag 'concord_logo.png', class: 'max-h-12', alt: "City of Concord" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
