<!DOCTYPE html>
<html>
  <head>
    <title>Dvti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-gray-200">
    <div class="max-w-7xl bg-white mx-auto px-4 sm:px-6 lg:px-8">
      <%= render 'layouts/navigation' %>
    </div>
    <div class="max-w-7xl px-4 sm:px-6 lg:px-8 mx-auto">
      <%= yield %>
    </div>
    <div class="max-w-7xl bg-white mx-auto px-4 sm:px-6 lg:px-8">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
